[submodule "vim-bufsurf"]
	path = vim-bufsurf
	url = https://github.com/ton/vim-bufsurf.git
[submodule "tmux-config"]
	path = tmux-config
	url = git://github.com/pivotal/tmux-config.git
[submodule "vim-yardoc"]
	path = vim-yardoc
	url = git@github.com:noprompt/vim-yardoc.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "vim-rhubarb"]
	path = vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb
